# Set default behavior to automatically normalize line endings
* text=auto eol=lf

# Explicitly declare text files you want to always be normalized and converted
*.java text diff=java
*.kt text diff=kotlin
*.kts text diff=kotlin
*.xml text
*.yml text
*.yaml text
*.json text
*.properties text
*.sql text
*.md text
*.sh text eol=lf
*.bat text eol=crlf
*.ps1 text eol=crlf
*.js text
*.jsx text
*.ts text
*.tsx text
*.css text
*.html text

# Declare files that are always binary
*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.ico binary
*.pdf binary
*.jar binary
*.war binary
*.keystore binary
*.jks binary
